.env
venv/
env.example

temp_uploads/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so



# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
